
​# Ignore common files
.DS_Store
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
venv/
.venv/

# Ignore these directories
.github/
.vscode/
tests/
docs/

# Ignore sensitive files
.env.secret
*.key
*.pem
